{% extends "coreApp/base.html" %}

{% block content %}

{% load static %}  
<script src="{% static '/js/bank.js' %}" type="text/javascript"></script>


<p>Your current balance is {{ balance }}</p>

<p>
    {% if sinceDaily.days >= 1 %}
        You can collect your daily reward. (Although that isn't implemented yet)
    {% else %}
        Wait a bit longer for your daily reward
        <div id="dailyCooldown"></div>
        <script>
            updateDailyCooldown("{{ lastDaily }}")
            setInterval(updateDailyCooldown, 1000, "{{ lastDaily }}");
        </script>
    {% endif %}
</p>


{% endblock content %}
